@import "./variables.scss";
html {
    font-size: 14px;
}
.btn-outlined {
    background: #fff;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    &:hover, &:focus {
        background-color: $clr-white;
        color: $secondary-color;
    }
}
.border-none {
    border: 0;
}