<div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
            <%= link_to procedures_path, class: "brand-logo" do %>
            <i class="material-icons">home</i>
            <% end %>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <%= link_to '/users/sign_out', :method => :delete do %>
                    <i class="material-icons">logout</i>
                    <% end %>
                </li>
            </ul>
        </div>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><%= link_to procedures_path, class: "brand-logo" do %> <i class="material-icons">home</i> Home <% end %></li>
        <li><%= link_to '/users/sign_out', :method => :delete do %> <i class="material-icons">logout</i> Log Out <% end %></li>
    </ul>
</div>
